// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body.Articles {
  // Place scoped styles here
}

#header {
  padding: 30px;
  border-bottom: 1px dotted Black;
}

#header a:link {
  font-size: 30px;
  text-decoration: none;
}

#header-menu ul {
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
}

#header-menu ul li {
  display: inline;
}

#header-menu ul li a {
  font-weight: bold;
  padding: 6px 10px;
  text-decoration: none;
}


#content {
  float: left;
  width: 70%;
  margin-left: 20px;
}

#sidebar {
  float: right;
  left: 70%;
  position: absolute;
  margin-right: 40px;
}

#footer {
  clear: both;
}

.article {
  padding: 14px 40px 12px 12px;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

